html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.411764705882353px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.411764705882353px;
}
}
html, body {
	height: 100%;
}
#first-page {
	background-image:url("pictures/Hyperspace-background.png");
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height:100%;
	min-height: 600px;
	display: table;
	position: relative;
	text-align: center;
}
.first-content{
    margin-top:20rem;
}
.first-content h1 {
	color: #FFE81F;
	font-family: 'star_jedi_hollowregular';
	font-size: 8.4rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.first-content .participants{
    font-family: 'episode_1regular';
	font-size: 1.2rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.first-content .participants span {
	display: inline-block;
}
.first-content .participants span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: #FFE81F;
}
.first-content .participants span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: #FFE81F;
}
.participants{
    margin-top:8rem;
}
#introduction, #intro, #intro1{
	background-attachment:fixed;
	padding-top: 7rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height:100%;
	min-height: 600px;
	display: table;
	position: relative;
	/*text-align: center;*/	
}
#intro2{
    background-image:url("pictures/endor-background.jpeg");
    background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height:100%;
	min-height: 600px;
	display: table;
	position: relative;
	text-align: center;
}
#introduction{
    background-image:url("pictures/deathstar-background.jpeg");
}
#intro{
    background-image:url("pictures/tatooine-background.png");
}
#intro1{
    background-image:url("pictures/hoth-landscape.jpeg");
}
.second-content h1{
    font-size:5.5rem;
    font-family: 'star_jedi_hollowregular';
    letter-spacing:0.7rem;
    color:#FFE81F; 
}
.second-content h2{
    font-size:2.5rem;
    font-family: 'episode_1regular';
    letter-spacing:0.7rem;
    color:#3c3c44;
}
/* We can use the same css for all the p elemets this is just for the home page */
.first-p{
    text-align:justify;
    font-size:2.5rem;
    margin-top:6rem;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    line-height:3.5rem;
    background-color: /*#e8f9ff;*/ rgba(238,251,255, 0.5);
    padding: 0.5em; 
    border-radius: 20px;
}
.texts{
       border-left: 0.5em solid #E39774;
       padding-left: 0.5em;
       margin-top: 1em;
       }
h1{
  text-align:center;
  }
h2{
  color:#ffffff;
  font-size:3.5rem;
  background-color:rgba(50, 98, 115, 1);
  width:40%;
  margin-right:auto;
  margin-left:auto;
  border-radius:2rem;
  text-align:center;
  height:5rem;
  }
h3{
  font-size:2.5rem;
  margin:4rem  auto 4rem auto;
  text-align:center;
  border-radius:1.5rem;
  height:3.5rem;
  background-color:rgba(50, 98, 115, 1);
  width:30%;
  color:#fff;  
  }
h4{
   font-size:2rem;
   margin:1rem;
  }
.divider{
         height:0.5rem;
         background-color:#FF6600;
         width:80%;
         margin-left:auto;
         margin-right:auto;
         margin-top:4rem;
         margin-bottom:4rem;
         border-radius:0.3rem;
         }

/* Cytograph CSS Starts here */
/* I think I screwed up something because I only see half the cytograpgh :( my bad */
body{background:#fff;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;font-weight:100}
#cy {
     background-color:#eee;
     margin-top:2rem;
     margin-bottom:2rem;
     width: 70%;
     height:100vh;
     border-style:double;
     margin-right:auto;
     margin-left:auto;
 }

/* end cytograph */
.pictures{
          display:flex;
          }
.histogram{
          flex:40%;
          padding:2rem;
          width:40%;
          }
         


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 4rem  auto 4rem auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #FF6600;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}